apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: mongodb-credentials
  namespace: tech-challenge
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: SecretStore
  target:
    name: mongodb-secret
    creationPolicy: Owner
  data:
  - secretKey: username
    remoteRef:
      key: tech-challenge/mongodb/credentials
      property: username
  - secretKey: password
    remoteRef:
      key: tech-challenge/mongodb/credentials
      property: password
